<meta charset="utf-8" />
<title>Trivver</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
<link rel="apple-touch-icon" href="../assets/images/favicon.png">
<meta name="apple-mobile-web-app-title" content="Trivver">
<meta name="mobile-web-app-capable" content="yes">
<link rel="shortcut icon" sizes="32x32" href="../assets/images/favicon.png">
<link rel="stylesheet" href="../assets/animate.css/animate.min.css" type="text/css" />
<link rel="stylesheet" href="../assets/glyphicons/glyphicons.css" type="text/css" />
<link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="../assets/material-design-icons/material-design-icons.css" type="text/css" />
<link rel="stylesheet" href="../assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="../assets/styles/app.css" type="text/css" />
<link rel="stylesheet" href="../assets/styles/font.css" type="text/css" />
<link rel="stylesheet" href="../assets/styles/main.css" type="text/css" />
<link href="../assets/styles/select2.min.css" rel="stylesheet" />
<link href="../assets/styles/datepicker.css" rel="stylesheet" />
<script src="jquery/jquery/dist/jquery.js"></script>
<script src="jquery/tether/dist/js/tether.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="jquery/underscore/underscore-min.js"></script>
<script src="jquery/moment.min.js"></script>
<script src="../assets/js/select2.min.js"></script>
<script src="../assets/js/bootstrap-datepicker.js"></script>
<script src="../assets/js/jquery.validate.js"></script>
<script>
  function toFixed(x) {
    if (Math.abs(x) < 1.0) {
      var e = parseInt(x.toString().split('e-')[1]);
      if (e) {
          x *= Math.pow(10,e-1);
          x = '0.' + (new Array(e)).join('0') + x.toString().substring(2);
      }
    } else {
      var e = parseInt(x.toString().split('+')[1]);
      if (e > 20) {
          e -= 20;
          x /= Math.pow(10,e);
          x += (new Array(e+1)).join('0');
      }
    }
    return x;
  }
</script>
