<div id="content" class="app-content box-shadow-z0" role="main">
  <div class="app-header white box-shadow">
      <div class="navbar navbar-toggleable-sm flex-row align-items-center">
        <a data-toggle="modal" data-target="#aside" class="hidden-lg-up mr-3">
          <i class="material-icons">&#xe5d2;</i>
        </a>
        <ul class="nav navbar-nav ml-auto flex-row">
          <li class="nav-item">
            <a class="nav-link p-0 clear" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
  </div>
</div>