<div id="aside" class="app-aside modal nav-dropdown">
  <div class="left navside dark dk" data-layout="column">
    <div class="navbar no-radius">
      <a class="navbar-brand" href="/dashboard">
        <span class="hidden-folded inline">Trivver</span>
      </a>
    </div>
    <div class="hide-scroll" data-flex>
      <nav class="scroll nav-light">
        <ul class="nav" ui-nav>
          <li>
            <a href="/dashboard" class="instruction_btn">
              <span class="nav-text">DASHBOARD</span>
            </a>
          </li>
          <li>
            <% if(user.kyc_submited) { %>
              <a href="/buycoins" class="buy_trivver_coin">
                <span class="nav-text">Buy Coin</span>
              </a>
            <% } else { %>
              <a href="/verify_kyc" class="buy_trivver_coin">
                <span class="nav-text">VERIFY KYC</span>
              </a>
            <% }%>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>