<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
  <div class="body-overlay"></div>
  <div class="app" id="app">
    <% include ./partials/sideBar %>
    <% include ./partials/header %>
  </div>
</body>
</html>
