<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
  <div class="app" id="app">

<!-- ############ LAYOUT START-->
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-sm">
        Sign up to your Trivver Account
      </div>
      <form method="POST" action="/signup">
        <div class="md-form-group">
          <input id="name" name="name" type="text" class="md-input" required>
          <label>Name</label>
        </div>
        <div class="md-form-group">
          <input id="name" name="email" type="email" class="md-input" required>
          <label>Email</label>
        </div>
        <div class="md-form-group">
          <input id="password" name="password" type="password" class="md-input" required>
          <label>Password</label>
        </div>
        <div class="m-b-md">
          <label class="md-check">
            <input type="checkbox" required><i class="primary"></i> Agree the <a href>terms and policy</a>
          </label>
        </div>
        <button type="submit" class="btn primary btn-block p-x-md">Sign up</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div>Already have an account? <a ui-sref="access.signin" href="/signin" class="text-primary _600">Sign in</a></div>
    </div>
  </div>
  <!-- ############ LAYOUT END-->
  </div>
</body>
</html>
