<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
  <div class="app" id="app">

<!-- ############ LAYOUT START-->
  <div class="center-block w-xxl w-auto-xs p-y-md">
    <div class="errorMessage center">
      <% if (message.length > 0) { %>
        <h6 class="text-danger"><%= message %></h6>
      <% } %>
    </div>
    <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
      <div class="m-b text-sm">
        Sign in with your Trivver Account
      </div>
      <form name="form" method="POST" action="/login">
        <div class="md-form-group float-label">
          <input name="email" type="email" class="md-input" required>
          <label>Email</label>
        </div>
        <div class="md-form-group float-label">
          <input name="password" type="password" class="md-input" required>
          <label>Password</label>
        </div>
        <div class="m-b-md">
          <label class="md-check">
            <input type="checkbox"><i class="primary"></i> Keep me signed in
          </label>
        </div>
        <button type="submit" class="btn primary btn-block p-x-md">Sign in</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <!-- <div class="m-b"><a ui-sref="access.forgot-password" href="/forgotpassword" class="text-primary _600">Forgot password?</a></div> -->
      <div>Do not have an account? <a ui-sref="access.signup" href="/" class="text-primary _600">Sign up</a></div>
    </div>
  </div>
  </div>
</body>
<script>
  $(document).ready(function(){
    $('input, textarea').each(function(){
      $(this).val() ? $(this).addClass('has-value') : $(this).removeClass('has-value');
    });

    $(document).on('blur', 'input, textarea', function(e){
      $(this).val() ? $(this).addClass('has-value') : $(this).removeClass('has-value');
    });
  })
</script>
</html>
