<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
  <div class="body-overlay"></div>
  <div class="app" id="app">
    <div class="row">
      <% include ./partials/sideBar %>
      <% include ./partials/header %>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 kyc-form">
        <form name="kycregistration" method="POST" action="/verify_kyc" id="kycregistration">
          <label>Country Information</label>
          <div class="md-form-group">
            <select class="selectpicker select2 form-control md-input" id="country"  name="country" data-live-search="true" placeholder="Country">
              <option value="">Select</option>
              <% countries.forEach(function (country) { %>
                <option dial-code="<%= country['countryCallingCodes'] %>"value="<%= country['alpha2'] %>">
                  <%= country['name'] %>
                </option>
              <%})%>
            </select>
            <label>Country</label>
          </div>
          <label>Personal Information</label>
          <div class="md-form-group">
            <input id="full_name" name="full_name" type="text" class="md-input" value="<%= user.name %>" placeholder="Full Name">
            <label>Full Name</label>
          </div>
          <div class="md-form-group">
            <input id="dob" name="dob" type="text" class="md-input" placeholder="Date of Birth">
          </div>
          <label>Contact Information</label>
          <div class="md-form-group">
            <input id="email" name="email" type="text" class="md-input" value="<%= user.email %>" placeholder="Email Address" disabled>
          </div>
          <div class="md-form-group">
            <input id="phone_number" name="phone_number" type="text" class="md-input" placeholder="Phone Number">
          </div>
          <button type="submit" class="btn primary btn-block p-x-md submit_btn">Submit & Review</button>
        </form>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    $('#country').select2();
    $("#dob").datepicker({ format: 'yyyy-mm-dd'});
    $("#kycregistration").validate({
      rules: {
        country: "required",
        full_name: "required",
        dob: "required",
        phone_number: "required",
        email: {
          required: true,
          email: true
        }
      },
      // Specify validation error messages
      messages: {
        country: "Please select your country",
        full_name: "Please enter your fullname",
        email: "Please enter a valid email address",
        dob: "Please enter your date of birth",
        phone_number: 'Please enter your phone number'
      },
      // Make sure the form is submitted to the destination defined
      // in the "action" attribute of the form when valid
      submitHandler: function(form) {
        form.submit();
      }
    });
  });
</script>
</html>