.center {
    text-align:center!important;
}

.scoop-wrap {
  text-align: center;
}

.scoop-wrap .content-section {
  padding-top:    115px;
  padding-bottom: 115px;
}

.scoop-wrap .container {
  max-width: 940px;
}

.scoop-wrap h1 {
  font-family:    OpenSans, sans-serif;
  font-size:      32px;
  color:          #FFFFFF;
  letter-spacing: 0;
  font-weight:    100 !important;
  margin-top:     100px;
}

.scoop-wrap.homepage h2 {
  font-family:    OpenSans-Semibold, sans-serif;
  font-size:      30px;
  color:          #fff;
  letter-spacing: 0;
  margin-bottom:  50px;
}

.scoop-wrap.homepage h3 {
  font-family:    OpenSans-Semibold, sans-serif;
  font-size:      16px;
  color:          #0C1126;
  letter-spacing: 0;
  line-height:    28px;
    text-transform:uppercase;
}

.scoop-wrap h2.homepage span {
  color: #6A61C1 !important;
}

.scoop-wrap p {
  font-family:    OpenSans, sans-serif;
  font-size:      18px;
  color:          #0C1126;
  letter-spacing: 0;
  line-height:    28px;

}

.scoop-wrap.homepage p {
    margin:0 auto;
      max-width:      860px;
}

.scoop-wrap .content-section p {
  margin-bottom: 50px;
}

.scoop-wrap .center {
  text-align: center;
}

.scoop-wrap .btn {
  padding:        14px 32px;
  border-radius:  4px;
  font-family:    OpenSans-Semibold, sans-serif;
  font-size:      15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-left:    12px;
  margin-right:   12px;
}

.scoop-wrap .btn.btn-white {
  background-color: white;
  color:            #0C1126;
}

.scoop-wrap .btn.btn-gradient {
  background-image: linear-gradient(90deg, #284DC2 0%, #AD30FF 100%);
  color:            white;
  border:           none;
}

.scoop-wrap .btn.btn-outline {
  color:  #6A61C1;
  border: 1px solid #6A61C1;
}

/*Hover*/
.scoop-wrap .btn.btn-outline:hover {
  background-color: #6A61C1;
  color:            white;
}

.scoop-wrap .btn.btn-white:hover {
  background-color: #e6e6e6;
  border:           1px solid white;
}

.scoop-wrap .btn.btn-gradient:hover {
 background-image: linear-gradient(90deg, #274996 0%, #a732c8 100%);
}

.scoop-wrap .btn-gradient:focus {
    outline:0!important;
    box-shadow:none;
    background-image: linear-gradient(90deg, #274996 0%, #a732c8 100%);
}

.scoop-wrap .btn {

}

.scoop-wrap .grey-bg {
  background-color: #EFEFEF;
}

.scoop-wrap .navbar {
  padding-left:  40px;
  padding-right: 40px;
  background:    transparent;
  margin-bottom: -135px;
  margin-top:    20px;
  max-width:     100%;
}

.scoop-wrap .navbar img {
  max-height:    40px;
  margin-top:    -5px;
  text-align:    right;
  padding-right: 0;
}

.scoop-wrap .navbar .scp-value {
  font-family:    OpenSans, sans-serif;
  font-size:      14px;
  color:          #FFFFFF;
  letter-spacing: 0;
  padding:        5px 14px !important;
  border:         1px solid #6A61C1;
  border-radius:  4px;
  margin-top:     -10px;
  margin-left:    0;
  /*  margin-right:   30px;*/
}

.scoop-wrap .navbar .scp-col {
  text-align:   left;
  padding-left: 0;
}

.scoop-wrap .navbar ul.nav-links {
  padding-right: 80px;
  display:       inline;
}

.scoop-wrap .navbar ul.nav-links li {
  display: inline;
}

.scoop-wrap .navbar ul.nav-links li a {
  font-family:    OpenSans, sans-serif;
  text-transform: uppercase;
  font-size:      14px;
  color:          #e1e1e1;
  letter-spacing: 0;
  padding-right:  45px;
  font-weight:    300 !important;
}

.scoop-wrap .navbar ul.nav-links li a:hover {
    color:white;
    text-decoration:none!important;
}

.scoop-wrap .title-section {
  background-color:    #0C1126;
  padding-top:         100px;
  background-position: center bottom;
}

.scoop-wrap .title-section .button-row {
  max-width:  100%;
  margin:     0 auto;
  text-align: center;
  margin-top: 100px;
}

.scoop-wrap .title-section img {
  max-width:     100%;
  max-height:    500px;
  margin-top:    60px;
  margin-bottom: -350px;
}

.scoop-wrap .title-section .button-row a {
}

.scoop-news-diagram {
  max-width:     100%;
  margin-bottom: -50px;
}

.scoop-wrap .news-section {
  margin-top: 150px
}

.scoop-wrap .news-section img.scoop-news-diagram {
  margin-top: 30px;
}

.scoop-wrap .banner-section {
  padding: 45px 0;
}

.scoop-wrap .banner-section p {
  margin-bottom: 0 !important;;
  line-height:   50px;
}

.scoop-wrap .decentralized-section img {
  max-width:     100%;
  margin-bottom: 60px;
}

.scoop-wrap .buy-section {
  background: #0C1126;
}

.scoop-wrap .buy-section {
}

.scoop-wrap .column-row {
  margin-top: 100px !important;
}

.scoop-wrap .column-row p {
    font-size:16px
}

.scoop-wrap .factual-section .col {
}

.scoop-wrap .factual-section .col img {
  max-height:    80px !important;
  margin-bottom: 25px;
}

.scoop-wrap .decentralized-section .col img {
  max-height:    100px !important;
  margin-bottom: 25px;
}

.scoop-wrap .technical-section {
  text-align: left;
}

.scoop-wrap .technical-section img {
  max-width:     455px;
  text-align:    left;
  float:         left;
  margin-left:   -30px;
  margin-bottom: -115px;
  margin-top:    -30px;
}

.scoop-wrap .technical-section a {
  margin-left: 0
}

.scoop-wrap .buy-section p, .scoop-wrap .buy-section h2 {
  color: white;
}

.scoop-wrap .buy-section {
  padding-bottom: 225px
}

.scoop-wrap .buy-section a {
  text-align:  left;
  float:       left;
  margin-left: 0;
}

.scoop-wrap .buy-section p {
  text-align: left;
  max-width:  430px;
  margin:     80px 0 45px;
}

.scoop-wrap .social-section a img {
  max-height:   25px;
  margin-right: 15px;
}

.scoop-wrap .footer-section {
  background:  #0C1126;
  height:      300px;
  padding-top: 30px;
}

.scoop-wrap .footer-section img {
  float:       left;
  padding-top: 0;
  max-height:  40px;
  opacity:     0.3
}

/*Mobile View Up*/
@media (max-width: 568px) {
  .scoop-wrap .whitepaper-btn {
    margin-top: 15px;
  }
}

/* Up to our design size */
@media (max-width: 990px) {
  .scoop-wrap .navbar {
    margin-top:  0px !important;
    padding-top: 20px;
    margin:      0 auto -135px auto;
  }

  .scoop-wrap .navbar ul {
    padding: 0 !important;
  }

  .scoop-wrap .navbar .link-col {
    margin-top: 15px;
  }

  .scoop-wrap .navbar li a {
    text-align: center !important;
    padding:    5px !important;
  }

  .scoop-wrap .navbar .scp-col {
    text-align: center !important;
  }

  .scoop-wrap .navbar .scp-value {
    margin-right: 0px !important;
  }

  .scoop-wrap .navbar img {
    max-width: 100%;
  }

  .scoop-wrap .whitepaper-btn {
    width: 235px;
  }

  .scoop-wrap .banner-section p {
    margin-bottom:  0 !important;
    line-height:    35px;
    padding-bottom: 15px;
  }

  .scoop-wrap .technical-section {
    text-align: center !important;
  }

  .scoop-wrap .whitepaper-image {
    display: none !important;
  }

  .scoop-wrap .buy-section p, .scoop-wrap .buy-section a, .scoop-wrap .buy-section {
    text-align: center;
    float: none;
  }

  .scoop-wrap .social-section .btn {
    min-width:     90% !important;
    margin-bottom: 15px;
  }

  .scoop-wrap.homepage .column-row p {
    max-width: 350px;
  }
}

/*Coming Soon*/

.scoop-wrap.coming-soon .container {
  margin-bottom: 0;
  margin-top:    10%;
}

.scoop-wrap.coming-soon img {
  max-width: 100%;
}

.scoop-wrap.coming-soon p {
  font-family:    OpenSans, sans-serif;
  font-size:      20px;
  color:          #FFFFFF;
  letter-spacing: 0;
  font-weight:    100 !important;
  margin-top:     50px;
  margin-bottom:  50px;
  max-width:      350px
}

/*ETH Raised*/

.eth-page {
    padding-top:50px;
    margin-top:    10%;
}

.eth-page h5 {
font-family: OpenSans-Semibold;
font-size: 52px;
color: #FFFFFF;
letter-spacing: 0;
}

#priceChange {
font-family: OpenSans;
font-size: 20px;
color: #72CC1F;
letter-spacing: 0;
    padding-top:10px;
    padding-bottom:10px;
}
#dollarPrice {
font-family: OpenSans-Semibold;
font-size: 22px;
color: #FFFFFF;
letter-spacing: 0;
}
.eth-raised {
  justify-content: center;
  margin: 50px 0px;
}

.eth-raised h4 {
  color: #FFFFFF;
  margin: 0px 5px;
    text-transform: uppercase;
}

.total-tokens h4 {
  color: #FFFFFF;
}

.get-balance {
  display: flex;
  justify-content: center;
    margin-top:100px;
    background-color:#2B2F48;
    padding-top: 70px;
    padding-bottom:70px;
}

.input-wallet {
  width: 100%;
      max-width: 600px;
  height: 55px;
  margin: 30px auto;
  padding-left: 5px;
    display:block;
    background-color:#0C1126;
    border:0px;
    border-radius:4px;
    padding-left:10px;
    padding-right:10px;
    color:white;
    line-height: 55px;
    font-size:20px;

}

.token-balance-button {
  margin: 10px auto;
  border-radius: 2px;
    display:block;
}

.scoop-wrap .eth-page h2 {
font-family: OpenSans;
font-size: 30px;
color: #FFFFFF;
letter-spacing: 0;
}

.scoop-wrap .eth-page .get-balance p {
opacity: 0.75;
font-family: OpenSans;
font-size: 18px;
color: #FFFFFF;
letter-spacing: 0;
line-height: 28px;
}

.eth-page h4 {
opacity: 0.75;
font-family: OpenSans;
font-size: 20px;
color: #FFFFFF;
letter-spacing: 0;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}



/* Get Eos Modal */
/* body {
  background: #000;
} */
.buy-eos {
    padding: 40px 35px;
    background: rgba(14,14,15,0.68);
}
.buy-eos img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.buy-eos .cta {
    margin-top: 55px;
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-family: "HelveticaNeueMedium";
}
.cta {
    border: 2px solid #ffffff;
    border-radius: 24px;
    text-transform: uppercase;
    font-size: 16px;
    color: #FFFFFF;
    width: 196px;
    text-align: center;
    display: inline-block;
    height: 48px;
    line-height: 47px;
    padding: 0;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s linear;
    background: transparent;
}
.token-sale-count {
    text-align: left;
}
.eos-btn {
  width: 100%;
  text-align: center;
}
.token-main .token-content h2 {
    margin-bottom: 25px;
}
.token-sale-count h2 {
    margin-top: 10px;
    font-size: 32px;
    margin-bottom: 35px;
    color: #fff;
}
.float-left {
    float: left;
}
.token-phase-1 .title-bar span.trademark {
    position: relative;
    top: -19px;
    font-size: 0.3em;
}
.period {
    font-size: 12px;
    font-family: "HelveticaNeueLight";
    margin-top: 15px;
}
.float-right {
  float: right;
}
.scrollable-content {
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
/* .modal .modal-body hr {
    margin: 20px 0;
    border: 0 none;
    border-top: 2px solid rgba(255,255,255,0.8);
}
.modal .modal-body {
    padding: 20px 30px;
    height: 415px;
    overflow-x: hidden;
    overflow-y: auto;
}
#myModal .modal-body {
    height: auto;
}
.modal .modal-body .token-check-condition input[type="checkbox"] {
    display: none;
}
.modal .modal-body .token-check-condition input[type="checkbox"] + label {
    cursor: pointer;
    position: relative;
}
.modal .modal-body .token-check-condition label {
    font-size: 10px;
    color: #8D8E90;
}
.modal .modal-body .token-check-condition input[type="checkbox"]:checked + label:before {
    background: #25274e;
}
.modal .modal-body .token-check-condition input[type="checkbox"] + label:before {
    content: '';
    background: rgba(255,255,255,0.8);
    border-radius: 1.5px;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    border: 1px solid rgba(151, 151, 151, 0.35);
    height: 14px;
    margin-right: 5px;
    text-align: center;
    margin-top: 3px;
}
.modal .modal-body .token-check-condition label span {
    width: 226px;
    vertical-align: top;
    display: inline-block;
    line-height: 23px;
    font-size: 13px;
    color: rgba(255,255,255,0.8);
    text-align: left;
}
p.information-text {
  color: #fff;
  font-size: 15px;
}
.modal .modal-body .token-check-condition input[type="checkbox"]:checked + label:after {
    content: "";
    padding: 2px;
    text-align: center;
    position: absolute;
    width: 1px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 2px;
    left: 5px;
    float: left;
    margin-top: 3px;
}
#myModal .modal-content {
  background: #0C1126;
  color: #fff;
}
#myModal .modal-header button {
    opacity: 1;
    color: #fff;
    background: #000;
    width: 25px;
    line-height: 19px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    right: -7px;
    top: -8px;
}
#myModal .modal-header button span {
  position: relative;
  top: -11px;
  left: -6px;
}
#myModal .modal-dialog {
  max-width: 600px;
}
#myModal .modal-header h3
{
  color: #fff;
  font-size: 24px;
  width: 100%;
  text-align: center;
}
.modal .modal-header p {
    text-transform: uppercase;
    line-height: 22px;
    font-size: 13px;
    color: #fff;
}
#myModal .modal-header span.trademark {
    position: relative;
    top: -12px;
    font-size: 0.4em;
}
#myModal .modal-header {
  background: #25274e;
  border-bottom: 0;
  flex-direction: column;
} */
.scrollable-content p {
    padding-right: 45px;
    color: #fff;
    text-align: left;
    font-size: 15px;
}
.scrollable-content .sections p {
  line-height: 30px;
}
.sections p {
  line-height: 27px;
}
.sections h4 {
  margin-bottom: 20px;
}
::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
/*   box-shadow: inset 0 0 5px grey;
*/   border-radius: 8px;
}

::-webkit-scrollbar-thumb {
   background: #25274e ;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
   background: #25274e;
}
::-moz-scrollbar {
   width: 8px;
}

::-moz-scrollbar-track {
/*   box-shadow: inset 0 0 5px grey;
*/   border-radius: 10px;
}

::-moz-scrollbar-thumb {
   background: #25274e ;
   border-radius: 10px;

}

::-moz-scrollbar-thumb:hover {
   background: #25274e;
}
.modal .modal-body .cta {
    width: 130px;
    height: 38px;
    line-height: 36px;
    font-size: 11px;
    margin-top: 30px;
    color: #FFFFFF;
    margin: 0 auto;
}
.modal .modal-body .token-check-condition .row {
    margin-bottom: 25px;
}
.container .btn.btn-primary.eos-btn {
    background: linear-gradient(90deg, #284DC2 0%, #AD30FF 100%);
    border: 0;
    margin-top: 20px;
    padding: 15px 50px;
    cursor: pointer;
}

section.get-eco {
  padding-bottom: 10px;
  padding-right: 100px;
  background: #fff;
}

.get-eco {
/* background: url(../images/gradient-img.jpg);
*/ border: 1px solid #bbb;
  padding: 15px;
}
.token-sale-count {
  text-align: left;
}
.token-sale-count h2 {
  margin-top: 10px;
  font-size: 32px;
  margin-bottom: 35px;
}
.pre-sale-phase .token-sale-count {
  padding: 103px 0;
}
.pre-sale-phase .col-8,
.token-phase-1 .col-8 {
  padding-left: 55px;
}
.pre-sale-phase hr,
.token-phase-1 hr,
.participitate-phase hr
{
  border: 0 none;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  margin: 35px 0;
}
.pre-sale-phase .icon-main,
.token-phase-1 .icon-main {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #12121B;
  margin: 0 auto 20px;
}
.pre-sale-phase .icon-main .icon-equal,
.token-phase-1 .icon-main .icon-equal {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../images/equal-icon.png) no-repeat;
  background-size: 100%;
}
.pre-sale-phase .icon-main .icon-broad,
.token-phase-1 .icon-main .icon-broad {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../images/broad-icon.png) no-repeat;
  background-size: 100%;
}
.pre-sale-phase .icon-main .icon-transparent,
.token-phase-1 .icon-main .icon-transparent {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(../images/transparent-icon.png) no-repeat;
  background-size: 100%;
}
.pre-sale-phase h4,
.token-phase-1 h4 {
  margin-bottom: 5px;
  font-weight:600;
  text-transform: uppercase;
}
.pre-sale-phase p,
.token-phase-1 p {
  font-size: 12px;
}
.distributed-progress .title {
  color: #000;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: capitalize;
  margin-top: 20px;
}
.distributed-progress .row {
  margin-bottom: 30px;
}
.distributed-progress .start {
  float: left;
  color: #666;
}
.distributed-progress .end {
  float: right;
  color: #666;
}
.distributed-progress .progress-bar {
  position: relative;
  /*display: block;
  height: 14px;
  background: #393939;
  box-shadow: inset 0 1px 0 0 rgba(249, 249, 249, 0.11);
  border-radius: 7px;*/
}
.distributed-progress .bar.green {
  background: #00C4B0;
  position: relative;
}
.distributed-progress .bar.orange {
  background-image: linear-gradient(90deg, #284DC2 0%, #AD30FF 100%);
  box-shadow: inset 0 2px 0 0 #AD30FF;
  position: relative;
}
.distributed-progress .bar.orange:before{
  content: '';
  position: absolute;
  height:100%;
  width:100%;
  background-color: #ffffff;
  opacity:0.56;
  filter:blur(10px);
}
.distributed-progress .bar {
  display: block;
  height: 100%;
  background: #00C4B0;
  border-radius:7px;
  width: 0;
}
.distributed-progress .label {
  position: absolute;
  display: block;
  top: -40px;
  border-radius: 1px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  background: #6B83E8;
  margin-left: -70px;
}

.arrow-box-container {
  position: absolute;
}

.arrow_box {
  position: relative;
  background: #6B83E8;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #6B83E8;
  border-width: 8px;
  margin-left: -5px;
}
.arrow_box:before {
  border-color: rgba(146, 146, 146, 0);
  border-top-color: #929292;
  border-width: 8px;
  margin-left: -6px;
}

.current-sale {
  margin-top: 35px;
}
.current-sale .title {
  color: #E9E9EA;
  font-size: 12px;
  font-family: 'HelveticaNeueLight';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}
.current-sale .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.current-sale .row .col {
  margin-bottom: 25px;
  width:50%;
}
.current-sale .row .col:last-child{
  margin-bottom:15px;
}

.current-sale .count {
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}
.current-sale .eth-received{
  text-align: center;
}
.current-sale .countdown{
  text-align: left;
}
.current-sale p {
  text-align: center;
  margin-top: 5px;
}
.bottom-row > .col-4,
.top-row > .col {
  padding: 0 25px;
}

.current-sale .title {
  color: #E9E9EA;
  font-size: 12px;
  font-family: 'HelveticaNeueLight';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}
.current-sale .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.current-sale .row .col {
  margin-bottom: 25px;
  width:50%;
}

.left-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/*.right-block {
  display: flex;
    align-items: center;
    padding: 40px 0;
    justify-content: center;
}*/

.traffic-message {
  color: #fff;
}

#countdown span{
  color: #fff;
  font-size: 45px;
}

.configuation-block{
  background: #fff;
/*  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
*/  margin:18px auto 37px;
  text-align: center;
  padding:25px 0 25px;
  margin-top: 0;
}

.configuation-block p{
  color: #000;
  margin-bottom: 0;
}
.configuation-block .title{
  font-size:13px;
  font-weight:600;
  border: 1px solid #10C4AC;
  border-radius: 5px;
  padding:0 15px;
  height:38px;
  line-height:38px;
  display: inline-block;
  color: #10C4AC;
  margin-top:10px;
  transition: all 0.3s linear;
  text-transform: uppercase;
}
/*.configuation-block .title:hover{
  background-color: #F88A2F;
  border: 1px solid transparent;
}*/
.configuation-block .row{
  display: flex;
  justify-content: space-around;
}
.configuation-block .col{
  width: 33.33%;
  position: relative;
}
.chrome-icon{
  background: url("../images/chrome@2x.png");
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.firefox-icon{
 background: url("../images/firefox@2x.png");
 height: 80px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: 70px;
}
.interface-icon{
 background: url("../images/scoop-logo.png") no-repeat;
 height: 80px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: 70px;
}

.scoop-boxmodel .outline {
  padding: 25px;
  width: 100%;
  height: 100%;
  position: relative;
  border: 2px dashed #dddddd;
  transition: all .25s ease-in-out;
}
.scoop-boxmodel .content {
  padding: 5px;
  width: 100%;
  height: 100%;
  position: relative
}
.show-block {
  display: block;
}
.hide-block {
  display: none;
}

/* Dashboard page css */

.scoop-overview .scoop-head, .recommend .scoop-head {
  background: #f6f6f6;
  padding: 15px;
}
.scoop-overview .scoop-head h6, .recommend .scoop-head h6 {
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
}
.scoop-overview p {
  background: #fff;
  padding: 15px;
  margin-bottom: 0;
}
.scoop-overview {
  border: 1px solid #bbb;
}
.distributed-progress .progress {
  height: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.distributed-progress .progress .progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #6B83E8;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
  border-radius: 6px;
}
.get-eco .total-distribited {
  margin-bottom: 40px;
}
.get-eco .col-md-4 {
  width: 33.333%;
  float: left;
  text-align: left;
  padding: 0;
}
.get-eco .current-sale .title {
  color: #666;
  font-family: inherit;
  letter-spacing: 0;
}
.get-eco .current-sale .count {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
}
.get-eco .current-sale .eth-received {
  text-align: left;
}
.buy-scoopcoin .text-left {
  width: 70%;
  text-align: left;
  float: left;
  position: relative;
  top: 8px;
}
.buy-scoopcoin .buy-btn {
  float: right;
  text-align: right;
}
.buy-scoopcoin {
  padding: 15px;
  background: #fff;
  width: 100%;
  display: inline-block;
  border: 1px solid #bbb;
  border-top: 0;
}
h4.h4-head {
  margin-top: 25px;
}
.buy-btn .btn.btn-info {
  background: #10C4AC;
  text-transform: uppercase;
}
.buy-scoopcoin span {
  margin-right: 10px;
}
.progress-bar1 {
  position: relative;
}
body .white {
  background: #f0f0f0;
}
.chrome-icon img, .firefox-icon img, .interface-icon img {
  width: 100%;
  max-width: 30%;
}
.configuation-block .title.interface {
  background: #bbb;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
div#countdown {
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
  border: 0;
  font-size: 22px;
}

.loader {
    background: #fff;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    padding: 15px 80px;
    border-radius: 4px;
    border: 4px solid #1da0ab;
    font-size: 25px;
    margin-left: -95px;
    margin-top: -20px;
    display: none;

}
.body-overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;

  padding: 0;
  min-width: 250px;
  min-height: 70px;
}

@media(max-width: 767px) {
  section.get-eco {
    padding-right: 15px;
    padding-bottom: 0;
  }
  .get-eco .col-md-4 {
    width: 100%;
    text-align: center;
    float: none;
    margin-top: 10px;
  }
  .get-eco .current-sale .eth-received {
    text-align: center;
  }
  .buy-scoopcoin .text-left {
    width: 100%;
  }
  .buy-scoopcoin .buy-btn {
    width: 100%;
    text-align: center;
  }
  .configuation-block .col {
    width: 100%;
  }
  .chrome-icon img, .firefox-icon img, .interface-icon img {
    width: 100%;
    margin-top: 15px;
  }
}

.coin-btn{
  font-size:13px;
  font-weight:600;
  border: 1px solid #10C4AC;
  border-radius: 5px;
  padding:0 15px;
  height:38px;
  line-height:38px;
  display: inline-block;
  color: #10C4AC;
  margin-top:15px;
  transition: all 0.3s linear;
  text-transform: uppercase;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
.black-color-btn{
  color: #000;
}
.kyc-form {
  padding-top: 85px;
}
.submit_btn{
  width: 25%;
}
form p {
  position: absolute;   /* This ensures error label is positioned within the p tag */
}
label.error {
  top: 0; /* This ensures that it lines up with the top of the input */
  color: red !important;
  position: relative;
  float: right;
}

#country-error{
  top: 55px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #808080;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #808080;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #808080;
}